<template>
    <div class="chart">
        c3 chart goes here
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    name: 'Chart',
    props: {}    
});
</script>

<style scoped>
.chart{
    margin: 20px auto;
    padding: 20px;
    width: 860px;
    border: 1px solid #ccc;
}
</style>