<template>
	<div class="player">
		<form>
			<autocomplete placeholder="search for player..." 
				:search="search" 
				@onsubmit="submit">
			</autocomplete>
			<select>
				<option value="2019">2019</option>
				<option value="2018">2018</option>
				<option value="2017">2017</option>
				<option value="2016">2016</option>
			</select>
		</form>
		<aside class="logo">

		</aside>
		<div class="stats">
			<table>
				<thead>
					<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Height</th>
					<th>Location</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td>Stephen Curry</td>
					<td>27</td>
					<td>1,91</td>
					<td>Akron, OH</td>
					</tr>
					<tr>
					<td>Klay Thompson</td>
					<td>25</td>
					<td>2,01</td>
					<td>Los Angeles, CA</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Autocomplete from '@trevoreyre/autocomplete-vue'
import '@trevoreyre/autocomplete-vue/dist/style.css'
export default Vue.extend({
	name: 'Player',
	props: {},
	components:{
		Autocomplete
	},
	methods: {
		search: function(){
			console.log('hello from search');
		},
		submit: function(){
			console.log('hello from submit');
		}
	}    
});
</script>

<style scoped>
.player{
	margin: 20px 40px;
}
</style>