<template>
  <div id="app">
	<h1>NBA-PVP</h1>
	<div class="players">
		<Player />
		<Player />
	</div>
	<div class="chart">
		<Chart />
	</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Player from './components/Player.vue';
import Chart from './components/Chart.vue';
export default Vue.extend({
  name: 'App',
  components: {
	Player,
	Chart
  }
});
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.players {
	width: 940px;
	margin: 0 auto;
	display: flex;
}
</style>
